body{
    font-family:Poppins, system-ui, sans-serif;
    font-weight:400;
}

a{
    text-decoration: none;
    font-weight: 500;
}

h1,h2,h3{
    font-weight:600;
}

strong{
    
    font-weight:600;
}