.btn{
    padding:0.75rem 1rem;
    font-weight:600;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border-radius:0.8rem;
    transition:transform 0.25s ease,box-shadow 0.25s ease;

}
.btn:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 20px rgba(100,100,100,0.2);
}
.btn.primary{
    width:8rem;
    background-color: var(--accent);
    color:#ffffff;
    
}

.btn.secondary{
    width:auto;
    background-color: var(--accent);
    border:1px solid var(--accent);
    color:#ffffff;
}