.btn{
    padding:0.75rem 1rem;
    font-weight:600;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border-radius:0.5rem;
}

.btn.primary{
    width:8rem;
    background-color: var(--accent);
    color:#ffffff;
    
}

.btn.secondary{
    width:auto;
    background-color: var(--accent);
    border:1px solid var(--accent);
    color:#ffffff;
}