.navbar{
    position:fixed;
    top:0;
    background-color: var(--accent);
    width:100%;
    z-index: 100;
}

.nav-container{
    max-width:1100px;
    margin:auto;
    padding:1rem 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    font-weight:600;
    font-size:1.2rem;
    color:var(--text-main)
}

.nav-links a{
    margin-left:1.5rem;
    text-decoration:none;
    color: var(--text-main);
    display:inline-block; /* this helps to convert into transitions*/
    transition:transform 0.2s ease, color 0.2s ease;

}

.nav-links a:hover{
    color: var(--bg-main);
    transform: translateY(-2px);
}