.hero{
    background-color:var(--bg-main) ;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.hero-content{
    max-width:700px;
    padding: 0 1.5rem;
}

.hero h1{
    font-size:3.2rem;
    font-weight:700;
    color : var(--text-main);
}

.hero-subtitle{
    margin-top:1rem;
    color:var(--text-muted);
}

.hero-actions{
    width:1 rem;
    margin-top:2rem;
    display:flex;
    justify-content:center;
    gap:1.5rem;
}

.about{
    padding:6rem 1.5rem;
    background-color:var(--bg-main);
    border-top:1px solid var(--border-color);
    text-align:center;
}


.about-container{
    max-width:800px;
    margin:0 auto;
}

.section-title{
    color:var(--text-main);
}

.about-text{
    margin-top:1rem;
    color:var(--text-muted);
}

.skills{
    padding:6rem 1.5rem;
    background-color:var(--bg-secondary);
    text-align:center;
    border-top:1px solid var(--border-color);
}

.skills-container{
    max-width:1100px;
    margin:0 auto;
}

.skills-title{
    font-weight:700;
    color:var(--text-main);
}

.skills-grid{
    margin-top:2.5rem;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    gap:1.5rem;
}

.skills-card{
    padding:0.5rem;
    text-align:center;
    justify-content:center;
    background-color: var(--bg-main);
    color:var(--text-main);
    font-weight: 600;
    border-radius: 0.5rem;
    border:2px solid var(--border-color)
}

.project{
    padding:6rem 1.5rem;
    background-color:var(--bg-main);
    color:var(--text-main);
    text-align:center;
    border:1px solid var(--border-color);
}

.project-container{
    max-width:1100px;
    margin:0 auto;
}

.section-title{
    font-weight:700;
    color:var(--text-main);    
}

.project-grid{
    margin:3rem;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap:2rem;
}

.project-card{
    background-color:var(--bg-secondary);
    padding:1.5rem;
    display:flex;
    flex-direction:column;
    border:2px solid var(--border-color);
    border-radius:0.5rem;
}

.project-title{
    font-size:1.25rem;
    font-weight:600;
}

.project-desc{
    margin-top:0.75rem;
    color:var(--text-muted);
    flex-grow:1;
}

.project-links{
    margin-top:1.25rem;
    display:flex;
    justify-content: center;
    text-align:center;
    gap:2rem;
}

.project-link{
    color:var(--accent);
    font-weight:500;
}

.contact{
    padding:6rem 1.5rem;
    background-color: var(--bg-main);
    color:var(--text-main);
    text-align:center;
    border-top:1px solid var(--border-color);
}

.contact-container{
    max-width:700px;
    margin : 0 auto;
    text-align:center;

}

.contact-desc{
    margin-top:1rem;
    color:var(--text-muted);
}

.contact-links{
    margin-top:1rem;
    display:flex;
    justify-content: center;
    gap:1.5rem;
}

.contact-link{
    color:var(--accent);
    font-weight:500;
}

.footer{
    background-color: var(--bg-main);
    padding:2rem 1.5rem;
    text-align:center;
    color:var(--text-main);
    border-top: 1px solid var(--border-color);
}

@media(max-width:768px){
    .hero h1{
        font-size:2.4rem;
    }

    .hero-actions{
        flex-direction:column;
        gap:1rem;
    }

    .btn.primary,.btn.secondary{
        width:100%;
    }

}
@media(max-width:768px){
    .nav-links{
        display:none;
    }
}
@media(max-width:768px){
    .about{
        padding:4rem 1.25rem;
    }
}

@media (max-width: 768px) {
    .project-grid {
      grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .contact-links {
      flex-direction: column;
      gap: 1rem;
    }
  }
  
  


